In [6]:
#1.) arbitrary argument
def arbitrary_positional_argument(*args):
    print(args,type(args))
    for args in args:
      print(args)  
arbitrary_positional_argument(2,4,6,8)

(2, 4, 6, 8) <class 'tuple'>
2
4
6
8

In [ ]:
# task-02
def summarize_args(student_name,*args):
    print(args)   
    print("student Name:", student_name)

    grades = args[1:] 

    if grades:
        max_grade = max(grades) 
        min_grade = min(grades) 
        average = sum(grades) / len(grades)

        print("Maximum grade:", max_grade)
        print("Minimum grade:", min_grade)
        print("Average:", average)
    else:
        print("No grades provided.")

summarize_args("sachini", 88, 55, 90,44)

(88, 55, 90, 44)
student Name: sachini
Maximum grade: 90
Minimum grade: 44
Average: 63.0

In [23]:
def summarize_args(student_name,*grades):
    print("student Name:", student_name)

    if not grades:
        print("No grades provided.")
    else:
        max_grade = max(grades) 
        min_grade = min(grades) 
        average = sum(grades) / len(grades)

        print("Maximum grade:", max_grade)
        print("Minimum grade:", min_grade)
        print("Average:", average)

summarize_args("sachini")
summarize_args("sachini", 88, 55, 90,44)

student Name: sachini
No grades provided.
student Name: sachini
Maximum grade: 90
Minimum grade: 44
Average: 69.25

In [28]:
#2.) arbitrary keyword arbitrary_positional_argument
def arbitrary_keyword_argument(** kwards):
     print(kwards,type(kwards))

arbitrary_keyword_argument(name= "sachini",age= 23,city= "matara")

{'name': 'sachini', 'age': 23, 'city': 'matara'} <class 'dict'>

In [ ]:
#2.) arbitrary keyword arbitrary_positional_argument
def arbitrary_keyword_argument(** kwards):
    for key,value in kwards.items():
     print("key =",key,"value =",value)

arbitrary_keyword_argument(name= "sachini",age= 23,city= "matara")

key = name value = sachini
key = age value = 23
key = city value = matara

In [42]:
def employeee_info(employee_name, **details):
    print("Employee Name:", employee_name)
    
    for key, value in details.items():
        print(key,":",value)  
    employee_details = {"Employee Name": employee_name, **details}
    return employee_details

# Call the function and print the result
result = employeee_info("Sachini", age=25, department="IT", role="Developer")
print(result)

Employee Name: Sachini
age : 25
department : IT
role : Developer
{'Employee Name': 'Sachini', 'age': 25, 'department': 'IT', 'role': 'Developer'}

In [ ]:
# built in functions
#1.) abs()
abs(-20)

20

In [ ]:
#map()
def cal_square(x):
    return x * x

my_list = [5, 6, 7, 8, 9]
result = map(cal_square, my_list)

result_list = list(result)

print("Map Object:", result)
print("Type:", type(result))
print("Squared Results:", result_list)

Map Object: <map object at 0x000001F53F785C90>
Type: <class 'map'>
Squared Results: [25, 36, 49, 64, 81]

In [ ]:
#task01
def my_number(x,y):
    return x + y

my_list_1 = [10,8,5,6]
my_list_2 = [4,3,6,1]
result = map(my_number, my_list_1,my_list_2)
result_list = list(result)

print("Map Object:", result)
print("Type:", type(result))
print("number Results:", result_list)

Map Object: <map object at 0x000001F53F6D4B80>
Type: <class 'map'>
number Results: [14, 11, 11, 7]

In [ ]:
#task02
def converte_fahrenheit(c):
    return ( c *9/5)+32

temperatures = [20,30,25,40,15]

result = map(converte_fahrenheit,temperatures)
result_list = list(result)

print("Map Object:", result)
print("Type:", type(result))
print("fahrenheit Results:", result_list)

Map Object: <map object at 0x000001F53F774E50>
Type: <class 'map'>
fahrenheit Results: [68.0, 86.0, 77.0, 104.0, 59.0]

In [61]:
def check_even(x):
 return x % 2 == 0
my_list = [5,8,10,9,6,3] 
result = filter(check_even,my_list)
result_list = list(result)
print(result,type(result))
print("result:",result_list)

<filter object at 0x000001F53F72B040> <class 'filter'>
result: [8, 10, 6]

In [64]:
#annonimous function -lambda function
add = lambda x,y : x+y
print(add(3,5))

# derect coll
result = (lambda x,y:x+y)(4,5)
print(result)

8
9

In [ ]:
# power of two
add = lambda x: x**2 
print(add(5))

25

In [ ]:
#task04
people = [("Alice",23),("John",17),("Andrew",25),("kate",15)]
less_people = lambda person: person[1] >= 18
adults = filter(less_people, people)
adults_list = list(adults)
print(adults)
print(type(adults_list))
print(adults_list)

<filter object at 0x000001F53F6F0A00>
<class 'list'>
[('Alice', 23), ('Andrew', 25)]

In [ ]:
# annonimous function - fu ekk atule tw fu ekk define krnwa
def my_function(n):
    return lambda a:a*n
my_doubler = my_function(2) # lambda a:a*2
print(my_doubler(3))

6

In [73]:
def my_function(n):
    return lambda a:a*n
my_thribler = my_function(3)
print(my_thribler(5))

15

In [77]:
number = [(45, 67), (66, 45)]
large_num = lambda num: num[0] > num[1]
current_num = filter(large_num, number)

num_list = list(current_num)

print(num_list)

[(66, 45)]

In [78]:
find_max = lambda a,b:a if a>b else b
print(find_max(34,55))

55

In [ ]:
# task 06
def find_factorial(n):
    factorial = 1  
    for i in range(1, n + 1): 
        factorial *= i  
    return factorial

n = 5
result = find_factorial(n)
print(result)

1

In [102]:
# recursive function
def find_factorial(x):
    if x == 0 or x == 1:
        return 1
    else:
        return(x* find_factorial(x-1))
x = 5
result = find_factorial(x) 
print(result)

120

In [ ]:
# task 07 = sum array
def calculate_sum(arr):
    return sum(arr)
number = [1,3,5,7,9]
result = calculate_sum(number)
print(result)

25

In [ ]:
#recursive function
def recursive_sum(lst):
    if not lst:
        return 0
    else:
        return lst[0]+recursive_sum(lst[1:])
    
lst = [1,2,4,5,6,7]  
result = recursive_sum(lst)
print(result)

25

In [ ]:
#implement recursive function to generate the nth of number in the fiboncci sequence the fibonacci sequence atatement with 0 and 1 and each sunsequent number the sum of the two preceding one
def fibonacci(n):
 if n == 0:
    return 0
 elif n == 1:
    return 1
 return fibonacci(n-1) + fibonacci(n-2)

n = 10
result = fibonacci(n)
print(result)

55