In [ ]:
# switch case -match case

response_code = 203

match response_code:
    case 200:
        print("OK")
    case 201:
        print("Created")
    case 404:
        print("404 not found")
    case 500:
        print("Internal server error")
    case _:
        print("Something else")

Something else

In [ ]:
# this matching to the list pattern (list eliment count match)
num = [3,5,7]

match num:
    case[x,y]:
     print(x*y)
    case[x,y,z]:
     print(x+y+z)
    case _:
     print("This list does not contain 2 or 3 numbers!")

15

In [ ]:
# task 01  match  case 
len = [1,2,5]
match len:
    case[]:
        print("empty")
    case[x]:
        print("Has one eliment")
    case[x,y]:
        print("Has two eliment")
    case _:
        print("someting use")

empty

In [ ]:
# for loop 

fruits = ["apple","banana","orange"]
for fruit in fruits:
    print(fruit)

apple
banana
orange

In [ ]:
# task 02
numbers = [7, 5, 8, 4, 9, 12]
squared_numbers = [num * num for num in numbers] 
for num in squared_numbers:
    print(num)

49
25
64
16
81
144

In [24]:
numbers = [7, 5, 8, 4, 9, 12]
squared_numbers = []
for num in numbers:
    squared_numbers.append(num*num)
print(squared_numbers)

[49, 25, 64, 16, 81, 144]

In [ ]:
# task 3
x = int(input("Enter number: ")) 
squared_numbers = []
for num in range(1,x+1): #set  first to input value
    squared_numbers.append(num*num)
print(squared_numbers)

[1, 4, 9]

In [ ]:
#list conbination
#result = [expression for item in  conbination]
numbers = [2,12,8,9,2,5]
result = [num*num for num in numbers]
print(result)

[4, 144, 64, 81, 4, 25]

In [51]:
# task 4
numbers = [8,12,-1,5,4,0,-3]
result = [num*num for num in numbers if num>0 ]
print(result)

[64, 144, 25, 16]

In [89]:
# task 5 this input number ekta adu ekt wenakm square nubers tik gnne
num = int(input("Enter a number (x): "))
squared_numbers = []
temp_squared = 1
count = 1
while temp_squared <= num:
    squared_numbers.append(temp_squared)
    count += 1
    temp_squared = count*count
print("Squared numbers:", squared_numbers)

Squared numbers: [1, 4, 9, 16]

In [91]:
m = 5
i =0
while i<m:
    print(i,end = " ")
    i = i+1
print("End")

0 1 2 3 4 End

In [ ]:
# break
my_list = [8,9,3,0,12,15]
for item in my_list:
    if item == 0:
        break
    else:
      print(item)

8
9
3
12
15

In [ ]:
# continue - this continue is condition value break
my_list = [1,3,5,6,7,8]
for item in my_list:
    if item == 5:
       continue
    else:
       print(item)

1
3
6
7
8

In [ ]:

while True:
   numbers = int(input("Enter a number: "))
   if numbers == 0:
      break
   else:
       print(numbers*numbers)

100
4
2500
2704

In [2]:
#un pack to dict
person = {
    "name":"sachini",
    "age": 22,
    "gender":"Female"
}
for key,value in person.items():
    print(key,value)

name sachini
age 22
gender Female

In [ ]:
# keys get
person = {
    "name":"sachini",
    "age": 22,
    "gender":"Female"
}
for key in person.keys():
    print(key)

name
age
gender

In [ ]:
#value get
person = {
    "name":"sachini",
    "age": 22,
    "gender":"Female"
}
for value in person.values():
    print(value)

sachini
22
Female

In [ ]:
# function

def calculate_circumformance(width,height):
 c = 2*(width+height)
 return c
calculate_circumformance(10,20)

60

In [12]:
PI_value = 3.14
def calculate_circle_area(redias):
    c = PI_value*(redias*redias)
    return c
calculate_circle_area(10)

314.0

In [13]:
#default argument
def add_number(a,b):
    return a+b
add_number(10,20)

30

In [ ]:
# default value
def add_number(a,b=5):
    return a+b
add_number(10,20)

30

In [ ]:
# assign the default value
def add_number(a,b=5):
    return a+b
add_number(10)

15

In [ ]:
def add_number(a,b=5,c):
    return a+b+c
add_number(10,20,30)
# error
#   def add_number(a,b=5,c):
 #                        ^
#SyntaxError: parameter without a default follows parameter with a default

SyntaxError: parameter without a default follows parameter with a default (2004640314.py, line 1)

In [17]:
def add_number(a,b=5,c=10):
    return a+b+c
add_number(10,20,30)

60

In [ ]:
# positional argument
def add_po(a,b):
    return a+b
add_po(10,20)

30

In [ ]:
# Key argument - order ektmm values assign krnn one na
def add_po(a,b):
    return a+b
add_po(b=10,a=20)

30

In [37]:
# task -05

def calculate_cost(price, quantity, discount =0, tax =0):
    base_cost = price * quantity
    
    discounted_cost = base_cost - (base_cost*discount) / 100

    tax_cost = (discounted_cost * tax) / 100

    total_cost = discounted_cost + tax_cost
    return total_cost

price = float(input("Enter the price of a single item: "))
quantity = int(input("Enter the quantity: "))
# discount = float(input("Enter the discount percentage: "))
# tax = float(input("Enter the tax percentage: "))


total_cost = calculate_cost(price, quantity   )
print(f"The total cost is: {total_cost}")

The total cost is: 500.0

In [38]:
a =5
b= 2
print(a**b//3%2)

0

In [ ]:
my_str = "'I love computer program,I an student of IJSE , I love in Galle'"
print(my_str)

'I love computer program,I an student of IJSE , I love in Galle'

'" this is comment 01"'

In [ ]:
'''this is comment 01'''
# this is comment 02

'this is comment 01\n'

In [49]:
my_str = "hello world"
print(len(my_str))
print(my_str[4])
print(my_str[2:8])
print(my_str.upper())
print(my_str.lower())

11
o
llo wo
HELLO WORLD
hello world

In [ ]:
# string process
my_str = "   hello world     "
print(my_str)
my_str.strip()
print(my_str)

hello world
hello world